
<div class="header_side">
    @if (LoggedInUser != null)
    {
        <p>Welkom, @LoggedInUser.Firstname</p>
        <div class="logOutButton">
            <button type="button" @onclick="LogOutPressed">Uitloggen</button>
        </div>
    }
    else
    {
        <div class="logOutButton">
            <button type="button" @onclick="LogInPressed">Inloggen</button>
        </div>
    }
</div>

<div class="content_side">
    <ul>
        <li>
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All" @onclick="(() => HandlePageChange(homePath))">
                <span>INFO</span>
            </NavLink>
        </li>

        <li>
            <NavLink class="nav-link" href="/input/100_91" Match="NavLinkMatch.All" @onclick="(() => HandlePageChange(inputHomePath))">
                <span>100 - 91</span>
            </NavLink>
        </li>

        @for (int i = 91; i > 1; i -= 10)
        {
            int lowerLimit = i - 10;
            var nextPath = $"/input/{i - 1}_{lowerLimit}";
            var nextPathTitle = $"{i - 1} - {lowerLimit}";

            <li>
                <NavLink class="nav-link" href="@nextPath" Match="NavLinkMatch.All" @onclick="(() => HandlePageChange(nextPath))">
                    <span>@nextPathTitle</span>
                </NavLink>
            </li>
        }

    </ul>
</div>

<div class="footer_side">
    <p>&copy; Created by Simon Loosveldt</p>

    <ul>
        <li><a href="https://github.com/simonLoosveldt"><img src="img/github_white.png" alt="Link naar Github Simon Loosveldt" style="width:32px;height:32px;"></a></li>
        <li><a href="https://www.linkedin.com/in/simon-loosveldt-14b0781aa/"><img src="img/linkedin_white.png" alt="Link naar LinkedIn Simon Loosveldt" style="width:32px;height:32px;"></a></li>
        <li><a href="https://www.messenger.com/t/simon.loosveldt"><img src="img/messenger_white.png" alt="Link naar Messenger Simon Loosveldt" style="width:32px;height:32px;"></a></li>
    </ul>
</div>