@using TopHundred.Controllers.Services
@using TopHundred.Models
@inject NavigationManager NavigationManager
@inject IUserService UserService

<div class="header_side">
    @if (LoggedInUser != null)
    {
        <p>Welkom, @LoggedInUser.Firstname</p>
        <div class="logOutButton">
            <button type="button" @onclick="LogOutPressed">Uitloggen</button>
        </div>
    }
    else
    {
        <div class="logOutButton">
            <button type="button" @onclick="LogInPressed">Inloggen</button>
        </div>
    }
</div>

<div class="content_side">
    <MatList>
        <MatListItem>
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All" @onclick="(() => HandlePageChange(homePath))">
                <span>INFO</span>
            </NavLink>
        </MatListItem>        

        @for (int i = 0; i < 10; i++)
        {
            int upperLimit = 100 - i * 10;
            int lowerLimit = 91 - (i * 10);
            var nextPath = $"/input/{upperLimit}_{lowerLimit}";
            var nextPathTitle = $"{upperLimit} - {lowerLimit}";

            <MatListItem Href="@nextPath" @onclick="() => HandlePageChange(nextPath)">
                <span>@nextPathTitle</span>
            </MatListItem>
        }

    </MatList>
</div>

<div class="footer_side">
    <p>&copy; Created by Simon Loosveldt</p>

    <ul>
        <li><a href="https://github.com/simonLoosveldt"><img src="img/github_white.png" alt="Link naar Github Simon Loosveldt" style="width:32px;height:32px;"></a></li>
        <li><a href="https://www.linkedin.com/in/simon-loosveldt-14b0781aa/"><img src="img/linkedin_white.png" alt="Link naar LinkedIn Simon Loosveldt" style="width:32px;height:32px;"></a></li>
        <li><a href="https://www.messenger.com/t/simon.loosveldt"><img src="img/messenger_white.png" alt="Link naar Messenger Simon Loosveldt" style="width:32px;height:32px;"></a></li>
    </ul>
</div>

@code {

    private readonly string inputHomePath = "/input/100_91";
    private readonly string homePath = "/home";
    private readonly string loginPath = "/login";

    // Properties
    public User LoggedInUser { get; set; }

    // Public
    public void LogInPressed()
    {
        HandlePageChange(loginPath);
    }
    public void LogOutPressed()
    {
        UserService.Logout();
        HandlePageChange(loginPath);
    }
    public void HandlePageChange(string path)
    {
        NavigationManager.NavigateTo(path, true);
    }

    // Protected
    protected override void OnInitialized()
    {
        LoggedInUser = UserService.GetCurrentUser();
    }
}