@page "/login"
@using TopHundred.Views.Services
@using TopHundred.Models
@using TopHundred.Controllers.Services
@using TopHundred.Controllers.Exceptions
@using TopHundred.Controllers
@inject IUserService UserService
@inject IErrorService ErrorService
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<div class="main">
    <div class="middleContent">

        <div class="top_middleContent">
            <h2>@PageTitle</h2>
        </div>

        <div class="content">
            <span>
                <label>Firstname</label>
                <input type="text" @bind="@InputFirstName" placeholder="Firstname">
            </span>
            <span>
                <label>Lastname </label>
                <input type="text" @bind="@InputLastname" placeholder="Lastname">
            </span>

            <span>
                <input type="button" id="login_button" @bind="LoginButtonLabel" @onclick="LoginPressed" />
            </span>
        </div>
    </div>
</div>

@code {

    // Private
    private UserController userController { get; set; }

    // Properties
    public string PageTitle { get; set; } = "AANMELDEN";
    public string LoginButtonLabel { get; set; } = "LOGIN";
    public string InputFirstName { get; set; } = string.Empty;
    public string InputLastname { get; set; } = string.Empty;

    // Protected
    protected override void OnInitialized()
    {
        userController = new UserController();
    }

    // Private
    private async void LoginPressed()
    {
        if (!InputFilledCheck())
        {
            await LaunchPopUp("Please fill in all fields...");
        }
        else
        {

            try
            {
                UserService.Login(userController.GetUserByName(InputFirstName, InputLastname));
                Redirect();
            }
            catch (UserNotFoundException)
            {
                await LaunchPopUp("Unrecognized user...");
            }
        }
    }

    private async Task LaunchPopUp(string message)
    {
        // https://blazor-university.com/javascript-interop/
        await JSRuntime.InvokeVoidAsync("alert", message);
    }

    private bool InputFilledCheck()
    {
        return string.IsNullOrEmpty(InputFirstName) || string.IsNullOrEmpty(InputLastname) ? false : true;
    }

    private void Redirect()
    {
        NavigationManager.NavigateTo("/", true);
    }
}