@page "/login"

<div class="main">
    <div class="middleContent">

        <div class="top_middleContent">
            <h2>@PageTitle</h2>
        </div>

        <div class="content">
            <span>
                <label>Firstname</label>
                <input type="text" @bind="@InputFirstName" placeholder="Firstname">
            </span>
            <span>
                <label>Lastname </label>
                <input type="text" @bind="@InputLastname" placeholder="Lastname">
            </span>

            <span>
                <input type="button" id="login_button" @bind="LoginButtonLabel" @onclick="LoginPressed" />
            </span>
        </div>
    </div>
</div>