/* ---------------------- */
/*  GENERAL               */
/* ---------------------- */

body {
    background-color: #121212;
    max-height: 100%;
}

p {
    color: #FFF;
}

h1, h2, h3 {
    color: #FFF;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    color: #FFF;
}

a {
    text-decoration: none;
    color: #FFF;
}
